@import "tailwindcss";

.dm-sans {
    font-family: "DM Sans", sans-serif;
}

.outfit {
    font-family: "Outfit", sans-serif;
}

.noto-sans {
    font-family: "Noto Sans", sans-serif;
}

.custom-scroll-hide::-webkit-scrollbar {
    display: none;
}

.custom-scroll-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}