<div
    class="relative bg-[url('/assets/images/png/kerala.png')] text-white pt-[34px] pb-[52px] xl:pl-[169px] xl:pr-[59px] px-6 outfit"
>
    <div class="absolute inset-0 bg-[#052339]/60 z-0"></div>
    <div class="relative z-10">
        <div class="w-full">
            <div class="max-w-[582px] mb-8">
                <h1 class="text-4xl md:text-5xl xl:text-[68px] font-bold">Kerala:</h1>
                <h2 class="text-3xl md:text-4xl xl:text-[52px] font-bold">A Beacon of Growth</h2>
                <p class="text-base md:text-lg xl:text-xl mt-2">
                    By combining India's booming financial market with Kerala's
                    tech-savvy, financially literate population, Money Conclave
                    2024 can position itself at the epicenter of financial
                    innovation and inclusion
                </p>
            </div>

            <div class="flex flex-col sm:flex-row justify-end gap-4 md:gap-6 xl:gap-8">
                <div class="w-44">
                    <h1 class="font-semibold text-[48px] md:text-[50px] xl:text-[69px] leading-none">62%</h1>
                    <p class="font-medium text-base md:text-lg xl:text-xl leading-tight">
                        Smartphone <br /> penetration
                    </p>
                </div>
                <div class="w-44">
                    <h1 class="font-semibold text-[48px] md:text-[50px] xl:text-[69px] leading-none">62%</h1>
                    <p class="font-medium text-base md:text-lg xl:text-xl leading-tight">
                        Adult in kerala <br /> have bank account
                    </p>
                </div>
                <div class="w-44">
                    <h1 class="font-semibold text-[48px] md:text-[50px] xl:text-[69px] leading-none">62%</h1>
                    <p class="font-medium text-base md:text-lg xl:text-xl leading-tight">
                        Residents have an <br /> internet connection
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
