<div class="outfit">
    <div class="pb-12 xl:pb-[105px]">
        <div class="flex flex-col items-center text-center">
            <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold">
                Who Should <span class="text-[#033861]">Visit</span>
            </h1>
            <h3 class="text-xl md:text-2xl xl:text-3xl mt-3 xl:mt-5">
                Money Conclave is for you!
            </h3>
            <h5
                class="mt-1 xl:mt-3 p-4 max-w-[689px] text-base md:text-lg xl:text-xl"
            >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                sed odio tellus. Morbi elementum nisl id molestie laoreet. Nam a
                tincidunt lectus.
            </h5>
        </div>
        <div
            class="overflow-x-auto pl-6 -ml-6 scroll-smooth custom-scroll-hide"
        >
            <div
                class="flex gap-6 mt-5 md:mt-8 xl:mt-[87px] pl-4 md:pl-8 xl:pl-[60px] text-white"
            >
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit1.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div class="flex items-center gap-2">
                            <img
                                src="/assets/images/png/visit1-icon.png"
                                alt=""
                                class="border-2 border-white p-2 rounded-lg"
                            />
                            <div>
                                <h5 class="md:text-2xl md:font-semibold">
                                    Stock Trading Enthusiasts
                                </h5>
                                <p class="text-sm font-extralight line-clamp-2">
                                    Hone your trading skills and gain insights
                                    into the latest market trends from industry
                                    experts.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit2.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div>
                            <h5 class="md:text-2xl md:font-semibold">HNI</h5>
                            <p class="text-sm font-extralight line-clamp-2">
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Et, corrupti? Quam asperiores
                                nesciunt repellat necessitatibus modi, officiis
                                accusantium sint voluptate recusandae quo. Eaque
                                sit rerum iusto quia itaque, beatae quae!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit3.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div>
                            <h5 class="md:text-2xl md:font-semibold">
                                Investors
                            </h5>
                            <p class="text-sm font-extralight line-clamp-2">
                                Hone your trading skills and gain insights into
                                the latest market trends from industry experts.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit4.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div>
                            <h5 class="md:text-2xl md:font-semibold">HNI</h5>
                            <p class="text-sm font-extralight line-clamp-2">
                                Hone your trading skills and gain insights into
                                the latest market trends from industry experts.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-12 xl:pb-[105px]">
        <div class="flex flex-col items-center text-center">
            <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold">
                Why <span class="text-[#033861]">Visit</span>
            </h1>
            <h3 class="text-xl md:text-2xl xl:text-3xl mt-3 xl:mt-5">
                Why Money Conclave 2024?
            </h3>
            <h5
                class="mt-1 xl:mt-3 p-4 max-w-[689px] text-base md:text-lg xl:text-xl"
            >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                sed odio tellus. Morbi elementum nisl id molestie laoreet. Nam a
                tincidunt lectus.
            </h5>
        </div>
        <div
            class="overflow-x-auto pl-6 -ml-6 scroll-smooth custom-scroll-hide"
        >
            <div
                class="flex gap-6 mt-5 md:mt-8 xl:mt-[87px] pl-4 md:pl-8 xl:pl-[60px] text-white"
            >
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit5.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div class="flex items-center gap-2">
                            <img
                                src="/assets/images/png/visit1-icon.png"
                                alt=""
                                class="border-2 border-white p-2 rounded-lg"
                            />
                            <div>
                                <h5 class="md:text-2xl md:font-semibold">
                                    Global Fintech Focus
                                </h5>
                                <p class="text-sm font-extralight line-clamp-2">
                                    Explore the latest trends in financial
                                    technology and blockchain, uncovering
                                    innovative investment opportunities across
                                    diverse financial sectors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit6.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div>
                            <h5
                                class="line-clamp-1 md:text-2xl md:font-semibold"
                            >
                                Unparalled Exhibition
                            </h5>
                            <p class="text-sm font-extralight line-clamp-2">
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Et, corrupti? Quam asperiores
                                nesciunt repellat necessitatibus modi, officiis
                                accusantium sint voluptate recusandae quo. Eaque
                                sit rerum iusto quia itaque, beatae quae!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit7.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div>
                            <h5
                                class="md:text-2xl md:font-semibold line-clamp-1"
                            >
                                Tailored for all levels
                            </h5>
                            <p class="text-sm font-extralight line-clamp-2">
                                Hone your trading skills and gain insights into
                                the latest market trends from industry experts.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="relative flex-shrink-0">
                    <img
                        src="/assets/images/png/visit4.png"
                        alt="Educational Workshops"
                        class="h-60 xl:h-[352px] object-cover rounded-2xl shadow-lg snap-start"
                    />
                    <div
                        class="absolute bottom-2 left-0 mx-2 w-[calc(100%-0.5rem*2)] bg-white/5 backdrop-blur-md rounded-2xl border border-white p-4"
                    >
                        <div>
                            <h5 class="md:text-2xl md:font-semibold">HNI</h5>
                            <p class="text-sm font-extralight line-clamp-2">
                                Hone your trading skills and gain insights into
                                the latest market trends from industry experts.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-12 xl:pb-[105px]">
        <div class="flex flex-col items-center text-center">
            <h1 class="text-4xl md:text-5xl xl:text-6xl font-semibold">
                Register <span class="text-[#033861]">Now</span>
            </h1>
            <h5
                class="mt-1 xl:mt-3 p-4 max-w-[689px] text-base md:text-lg xl:text-xl"
            >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                sed odio tellus. Morbi elementum nisl id molestie laoreet. Nam a
                tincidunt lectus.
            </h5>
        </div>
        <div>
            
        </div>
    </div>
</div>
