<div
    class="bg-[#033861] px-6 md:px-10 xl:px-[62px] pt-[67px] pb-[60px] text-white outfit flex flex-col md:flex-row justify-between gap-10"
>
    <div class="md:max-w-[60%]">
        <h3 class="text-2xl md:text-3xl font-semibold">
            India's Premier Global Financial Summit
        </h3>
        <img
            src="/assets/images/png/logo/icon-footer.png"
            alt=""
            class="mt-6 md:mt-9 w-64 md:w-80"
        />
        <p class="mt-6 text-base md:text-lg leading-relaxed">
            Money Conclave is a premier event designed to instill financial
            empowerment to Indians from all financial backgrounds. This
            comprehensive gathering unites finance enthusiasts, industry
            experts, and aspiring go-getters seeking to unlock their financial
            potential.
        </p>
    </div>

    <div class="flex flex-col gap-6 md:gap-8">
        <h2 class="font-semibold text-2xl md:text-3xl lg:text-4xl">QUICK LINKS</h2>
        <div class="flex flex-col gap-3">
            <a href="" class="text-xl md:text-2xl">Home</a>
            <a href="" class="text-xl md:text-2xl">About Us</a>
            <a href="" class="text-xl md:text-2xl">Contacts</a>
        </div>
    </div>
</div>
